{
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 1
  }
}
