{
	"plugins": ["prettier"],
	"extends": ["eslint:recommended"],
	"parserOptions": {
		"ecmaVersion": 2017
	},
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"indent": ["error", "tab"],
		"comma-dangle": 0,
		"no-console": 1,
		"no-process-exit": 0,
		"no-tabs": 0,
		"prefer-const": "error",
		"bject-curly-newline": 0,
		"no-use-before-define": 2
	}
}
