{
	"plugins": ["node", "prettier"],
	"extends": ["eslint:recommended", "plugin:node/recommended"],
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"indent": ["error", "tab"],
		"comma-dangle": 0,
		"no-console": 1
	}
}
